/*
.center-form
{
    align-self: center;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top:10%;    
}
*/
body
{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}